@define-color bg0 #15161e;
@define-color bg1 #1a1b26;
@define-color bg2 #33467c;
@define-color bg3 #414868;
@define-color bg4 #565f89;

@define-color red    #f7768e;
@define-color orange #ff9e64;
@define-color yellow #e0af68;
@define-color green  #9ece6a;
@define-color aqua   #7dcfff;
@define-color blue   #7aa2f7;
@define-color purple #bb9af7;

@define-color fg #c0caf5;

@define-color grey0 #414868;
@define-color grey1 #565f89;
@define-color grey2 #a9b1d6;
